:root{
    --b: 20%;
    --mainBtn: flex;
    --main-orange: rgb(255, 133, 45);
    --main-dark: rgb(27, 27, 27);;
    --main-blue:  rgb(39, 48, 172);
    
}
@font-face {
    font-family: "nameFont";
    src: url('../fonts/Shalytta-8MY0B.ttf');
    }
@font-face {
    font-family: "code";
    src: url('../fonts/Code7X5Regular-ypBe.ttf');
    }
#email_i,
#linkedin_i,
#git_i{
    background-position: center;
    background-size: contain;
    height: 30px;
    width: 30px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
#email_i{
    background-image: url('../images/email.png');
}
#linkedin_i{
    background-image: url('../images/linkedin.png');
}
#git_i{
    background-image: url('../images/git.png');
}
#email_i:hover,
#linkedin_i:hover,
#git_i:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
body{
    margin:0;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    font-family: 'poppins';
    background-color: var(--main-dark);
    height: 100vh;
}
#logo{
    background-image: url('../images/header_logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: fixed;
    opacity: 0;
    top: 5px;
    left: 5px;
    height: 100px;
    width: 100px;
    z-index: 1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;
}
#logo:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
nav{
    color: white;
    z-index: 3;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    transform: translateY(-200px);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px);
}
footer{
    color: white;
    position: fixed;
    bottom: 20px;
    left: 30px;
    font-size: 13px;
    transform: translateY(200px);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
}
footer ul,
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
footer ul li,
nav ul li{
    list-style-type: none;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
nav ul li:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/* landing page */
#lp_one,
#lp_two,
#lp_three,
#lp_four,
#lp_five,
#lp_six,
#lp_seven,
#lp_eight,
#lp_nine,
#lp_ten{
    
    position: absolute;
    height: 50%;
    width: var(--b);
    transition: .5s;
    background-color: #b30c15;
}
#lp_one{
    top: 0;
}
#lp_two{
    bottom: 0;
}
#lp_three{
    top: 0;
    left: 20%;

}
#lp_four{
    bottom: 0;
    left: 20%;
}
#lp_five{
    top: 0;
    left: 40%;
}
#lp_six{
    bottom: 0;
    left: 40%;
}
#lp_seven{
    top: 0;
    left: 60%;
}
#lp_eight{
    bottom: 0;
    left: 60%;
}
#lp_nine{
    top: 0;
    left: 80%;
}
#lp_ten{
    bottom: 0;
    left: 80%;
}
/* #pageContainer:hover{
    
    --b: 0%;
} */
#landingPageContainer{
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100%;
}
#lp_welcomeText{
    opacity: 0;
    display: flex;
    flex-direction: column;
    font-family: 'nameFont';
    line-height: 16vw;
    letter-spacing: 0vw;
    font-size: 30.4vw;
    position: absolute;
    align-self: center;
    color: white;
    margin-top:10vw;
    width: calc(100% - 25vw);
    padding-left: 15vw;
    white-space: nowrap;
    transition: opacity 2s ease;
    -webkit-transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
    -ms-transition: opacity 2s ease;
    -o-transition: opacity 2s ease;
}
#lp_mainTitle{
    transition: all 1s;
    font-family: 'code';
    letter-spacing:normal;
    width: auto;
    justify-content: right;
    display: flex;
    font-size: 2vw;
    margin-right: 6vw;
    color: white;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transform: translate(500px);
    -webkit-transform: translate(500px);
    -moz-transform: translate(500px);
    -ms-transform: translate(500px);
    -o-transform: translate(500px);
}
@media only screen and (max-width: 600px) {
    #lp_mainTitle{
        line-height: 130px;
        font-size: 4vw;
        margin-right: 6vw;
    }
    #lp_welcomeText{

        margin-top:0vw;
   
    }
    #logo{
        top: 5px;
        left: 5px;
        height: 70px;
        width: 70px;
  
    }
}